body{
    background-color:rgb(243, 235, 235);
}

.elem1{grid-area: blokk1;}
.elem2{grid-area: blokk2;}
.elem3{grid-area: blokk3;}
.elem4{grid-area: blokk4;}
.elem5{grid-area: blokk5;}
.elem6{grid-area: blokk6;}
.elem7{grid-area: blokk7;}

.tarolo{
    display: grid;
    grid-template-areas: "blokk1 blokk2"
                         "blokk1 blokk3"
                         "blokk1 blokk4"
                         "blokk1 blokk5"
                         "blokk1 blokk6"
                         "blokk1 blokk7";            
}
.tarolo{
    grid-template-columns:350px 800px ;
}

.elem1{
    background-color: lightsalmon;
    color: whitesmoke;
    bottom: 250px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
}
ol{
list-style: none;
line-height: 3em;
margin: 30px;
padding: 5px;
position:fixed;
top: 270px;
}

h1::after{content: ' Bence';
color: lightsalmon;}
h1{font-size: 5em;}
img{
    width: 200px;
    height: auto;
    border:4px solid whitesmoke;
    border-radius: 100%;
    position: relative;
    left: 50px;
    top: 40px;
    margin: 30px;
    position:fixed;
}
#elem2{
    padding: 60px;
    line-height: 10px;
    letter-spacing: 3px;
}
.adress{
    position: relative;
    left: 10px;
    letter-spacing: 1px;
    font-size: 17px;
}

a{
    color: rgb(206, 82, 60);
}
#elem3{
    padding: 40px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    bottom: 40px;
    color: rgb(143, 134, 134);

}
#elem4{
    padding:10px 50px;
    text-align: left;
    font-style: italic;
}
.table1{
    height: 500px;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}
td.time{
    width:120px;
}
#elem5{
    padding:20px 40px;

}
.table2{
    height: 200px;
    font-size: 20px;
    text-align: justify;
    width: 550px;
   
}
#elem6{
    padding-left: 40px;
    font-size: 20px;
    line-height: 40px;
}
h2{
    font-size: 35px;
}
#elem7{
    padding:20px 40px;
    font-size: 20px;
}
.li-rolam{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 23px;
}
.li-rolam:hover{
    color: rgb(197, 141, 141);
}