*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
} 
body{
    background-color:rgb(255, 242, 242);
}
a{
    color: rgb(169, 60, 41);
}

header{
    background-color: rgb(179, 90, 55);
    font-size: 2.3rem;
    color: white;
    top: 0;
    position: fixed;
    width: 100%;
}
.bev_nev{
    padding: 1.3rem 0 0 1rem;
    font-size: 2.5rem;
    letter-spacing:0;
}
#elem1{
    display:none;
} 
#elem2{
    font-size: 2rem;
    padding: 2rem 0 0 0;
    line-height: 4rem;
    letter-spacing: 1.3rem;
    margin:3rem;
}
#elem2 h1{
padding:1rem;
font-size: 8vw;
margin: 3rem 0 0 0;
}
.adress{
    letter-spacing:0.1rem;
    font-size: 3.5vw;
    margin-left:2rem;
}
#elem2 h1::after{content: ' Bence';
    color: #b35a37;}

#elem3{
    font-size: 2rem;
    padding: 2rem;
    line-height: 3rem;
    color: rgb(91, 84, 84);
    margin: 1.5rem;
}
.social-media-list{
    display:flex;
    list-style: none;
    font-size:5rem;
    padding: 1.5rem;
    line-height: 7rem;
    flex-wrap: wrap;
}
.social-media-a{
    color: rgb(125, 72, 72);
    padding:0 35px 0 0;

}
.social-media-a:hover{
    color: rgb(184, 112, 112);
}

#elem4{
    font-size: 1.6rem;
    padding:1rem;
    text-align: left;
    font-style: italic;
    margin: 1.8rem;
    line-height: 4rem;      
}
.table1{
    margin-left: 2rem;
    height: 110rem;
    font-size: 1.8rem;
    font-style: italic;
    text-align: justify;
}
td.time{
    width:120px;
}

#elem5{
    font-size: 1.6rem;
    padding:1rem;
    margin: 1.8rem;
}
.table2{
    margin-left: 2rem;
    height: 30rem;
    font-size: 1.8rem;
    font-style: italic;
    text-align: justify;
}
#elem6{
    padding:1rem;
    font-size: 1.6rem;
    line-height: 5rem;
    margin: 1.8rem;
}
#elem6 p{
    font-style: italic;
    font-size: 1.9rem;
}
.készségek-item{
    margin-left: 1rem; 
}
.programing-language{
list-style: none;
display: flex;
padding: 2rem;
flex-wrap: wrap;
}
.programing-language-list{
    padding:2rem 5rem 5rem 0;
    font-size: 6rem;
    color: rgb(103, 70, 70);
}

#elem7{
    padding:1rem;
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 1.8rem;
}
#elem7 p{
    font-style: italic;
    font-size: 1.9rem;
}
.érdeklődés-item{
    margin:1rem 1rem 2rem 2rem;    
}
#elem8{
    padding:1rem 2rem 5rem;
    width: 35rem;
    margin: 1.2rem 0 0 0rem;
}

.kapcsolat-form{
    padding:6rem;
    box-shadow: 1px 1px 10px #b35a37;
    border: #b35a37;
    font-size: 2rem;
}

#vezetéknév{
    border:solid 1px #b35a37;
    padding: 0.5rem;    
}
#keresztnév{
    border:solid 1px #b35a37;
    padding: 0.5rem; 
}
#email{
    border:solid 1px #b35a37;
    padding: 0.5rem; 
}
#kérdés{
    border:solid 1px rgb(179, 90, 55);
    padding: 0.5rem; 
}
.beküldés{
    padding: 3px;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px #b35a37; 
   
}
.beküldés:hover{
    color: rgb(184, 112, 112);
    cursor:pointer;
}

@media screen and (min-width: 768px) {
    #elem1{
        display: block;
    }
    #elem0{grid-area: blokk0;}
    #elem1{grid-area: blokk1;}
    #elem2{grid-area: blokk2;}
    #elem3{grid-area: blokk3;}
    #elem4{grid-area: blokk4;}
    #elem5{grid-area: blokk5;}
    #elem6{grid-area: blokk6;}
    #elem7{grid-area: blokk7;}
    #elem8{grid-area: blokk8;}
    .tarolo{
        display: grid;
        grid-template-areas: 
                            "blokk0 blokk0"
                            "blokk1 blokk2"
                             "blokk1 blokk3"
                             "blokk1 blokk4"
                             "blokk1 blokk5"
                             "blokk1 blokk6"
                             "blokk1 blokk7"
                             "blokk1 blokk8";            
    }
    .tarolo{
        grid-template-columns:auto auto;
    }
    #elem0{
        display: none;
    }
        #elem1{
            background-color: #b35a37;
            color: white;
            height: 2500px;
            text-transform: uppercase;
            text-align: center;
            position:fixed;
        }
        .about{
            list-style: none;
            line-height: 4.5rem;
            margin: 2rem;
            padding:0px 1rem 0 0;
            }
        .li-rolam{
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 2rem;
        }
        .li-rolam:hover{
            color: rgb(197, 141, 141);
        }
        img{
            width: 150px;
            height: 150px;
            border:4px solid white;
            border-radius: 100%;
            margin: 80px 0px 0px 0px;
        }
        #elem2 h1{
            padding:3rem 0 3rem 0;
            font-size: 6rem;
            }
            #elem2 h1::after{content: ' Bence';
                color: #b35a37;}   
        #elem2{
            padding: 3rem 4rem;
            line-height: 0.3rem;
            letter-spacing: 0.2rem;
            margin: 2rem 0rem 0rem 27rem;
        }
        .adress{
            letter-spacing: 0.2rem;
            font-size: 1.8rem;
            margin-left:1rem;
            line-height: 4rem;
        }
        #elem3{
            margin: 1.2rem 0 5rem 30rem;
            max-width: 85rem;
            
        }
        #elem4{
            margin: 1.2rem 0 0 30rem;
            max-width: 85rem;     
        }
        .table1{
            height: 65rem;
        }
        #elem5{
            margin: 1.2rem 1rem 1rem 30rem;
        }
        .table2{
            height: 20rem;
        }
        
        #elem6{
            margin: 1.2rem 0 0 30rem;
        }
        
        .programing-language{
        list-style: none;
        display: flex;
        padding: 10px;
        }
        
        #elem7{
            margin: 1.2rem 0 0 30rem;
        }
        #elem8{
            margin: 1.2rem 0 0 30rem;
        }
    }
    #menu__toggle {
        visibility: hidden;
      }
      
      .hamburger-button {
        display: flex;
        align-items: center;
        position: fixed;
        top: 5px;
        right: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
      }
      
      .hamburger-lines,
      .hamburger-lines::before,
      .hamburger-lines::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition-duration: 0.2s;
      }
      
      .hamburger-lines::before {
        content: "";
        top: -10px;
      }
      
      .hamburger-lines::after {
        content: "";
        top: 10px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 450px;
        padding: 75px 0;
        margin: 0;
        background-color: #b35a37;
        visibility: hidden;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
      }
      
      .menu__item {
        padding: 20px 30px;
        font-size: 24px;
        cursor: pointer;
      }
      
      .menu__item:hover {
        background-color: rgb(222, 222, 222);
      }
      
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        top: 0;
      }
      
      #menu__toggle:checked ~ .hamburger-button .hamburger-lines {
        transform: rotate(45deg);
      }
      
      #menu__toggle:checked ~ .hamburger-button .hamburger-lines::before {
        display: none;
      }
      
      #menu__toggle:checked ~ .hamburger-button .hamburger-lines::after {
        top: 0;
        transform: rotate(90deg);
      }
      .menu__box li{
        font-size: 25px;
        text-align: center;
        padding: 0 0 20px 0;
        vertical-align: middle;
        
    }
    .li-rolam{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
    



